# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/__pycache__/*
/__pycache__/*
*/ignore/*
*/.temp_landmarks/*
/build/
/dist/

# IPython
profile_default/
ipython_config.py